<div class="card-container">
  <a type="submit" pButton icon="pi pi-arrow-left" variant="text" severity="secondary" class="p-button-sm mb-4"
    style="display: inline-flex; align-items: center; gap: 0.5rem" (click)="onBack()">
    Regresar
  </a>

  <p-card class="clean-card" header="Subir Información del Auto">
    <!-- Tabs de PrimeNG -->
    <p-tabView [(activeIndex)]="activeIndex">
      <!-- Tab 1: Información Básica -->
      <p-tabPanel header="Información cliente">
        <form [formGroup]="form">
          <div class="p-fluid grid">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
              <div>
                <h5>Información básica</h5>
              </div>
              <p-button class="p-button-rounded p-button-icon-only" (onClick)="onSearch()">
                <i class="pi pi-search"></i>
              </p-button>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="name" formControlName="name" placeholder=" Nombre" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="last_name" formControlName="last_name" placeholder=" Apellido" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
                  <input pInputText id="email" formControlName="email" placeholder=" Correo" />
                </p-inputGroup>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="phone_number" formControlName="phone_number" placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="cellphone_number" formControlName="cellphone_number" placeholder=" Celular" />
                </p-inputGroup>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="RFC" formControlName="RFC" placeholder=" RFC" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="age" formControlName="age" placeholder=" Edad" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-dropdown [options]="estadosCiviles" optionLabel="label" optionValue="value"
                  placeholder="Seleccione estado civil" formControlName="marital_status" id="marital_status"
                  [showClear]="true" class="w-full">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <i class="pi pi-user mr-2" *ngIf="selectedOption"></i>
                    <span *ngIf="selectedOption">{{ selectedOption.label }}</span>
                    <span *ngIf="!selectedOption">Seleccione estado civil</span>
                  </ng-template>

                  <ng-template let-option pTemplate="item">
                    <i class="pi pi-user mr-2"></i>
                    {{ option.label }}
                  </ng-template>
                </p-dropdown>

              </div>

            </div>

            <div *ngIf="form.get('marital_status')?.value === 'casado'" class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="marriage_regime" formControlName="marriage_regime"
                    placeholder=" Regimen del matrimonio" />
                </p-inputGroup>
              </div>

              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="marriage_place" formControlName="marriage_place"
                    placeholder=" Lugar del matrimonio" />
                </p-inputGroup>
              </div>
            </div>

            <div *ngIf="form.get('marital_status')?.value === 'casado'" class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="couple_name" formControlName="couple_name" placeholder=" Nombre del espos@" />
                </p-inputGroup>
              </div>
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="couple_job" formControlName="couple_job" placeholder=" Ocupación" />
                </p-inputGroup>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4"
              [ngStyle]="{ display: form.get('marital_status')?.value === 'casado' ? 'flex' : 'none' }">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="couple_phone_number" formControlName="couple_phone_number"
                    placeholder=" Teléfono del cónyuge" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="couple_industry" formControlName="couple_industry" placeholder=" Giro" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="couple_monthly_income" formControlName="couple_monthly_income"
                    placeholder=" Ingreso mensual" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-dropdown [options]="opcionesDependientes" optionLabel="label" optionValue="value"
                  placeholder="Dependientes económicos" formControlName="economic_dependents" id="economic_dependents"
                  [showClear]="true" class="w-full">
                  <ng-template let-option pTemplate="item">
                    {{ option.label }}
                  </ng-template>
                </p-dropdown>
              </div>
              <div class="w-1/3" *ngIf="form.get('economic_dependents')?.value === 'si'">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="age_of_children" formControlName="age_of_children"
                    placeholder=" Edad de los hijos" />
                </p-inputGroup>
              </div>
            </div>
            <div
              style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; margin-top: 1rem;">
              <div>
                <h5>Domicilio actual</h5>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                <input pInputText id="address" formControlName="address" placeholder=" Dirección" />
              </p-inputGroup>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="city" formControlName="city" placeholder=" Ciudad" />
                </p-inputGroup>
              </div>

              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
                  <input pInputText id="state" formControlName="state" placeholder=" Estado" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
                  <input pInputText id="CP" formControlName="CP" placeholder=" Código Postal" />
                </p-inputGroup>
              </div>
            </div>

            <div
              style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; margin-top: 1rem;">
              <div>
                <h5>Datos laborales del comprador</h5>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="company" formControlName="company" placeholder=" Empresa" />
                </p-inputGroup>
              </div>

              <div class="w-1/3">
                <p-dropdown [options]="tiposTrabajo" optionLabel="label" optionValue="value"
                  placeholder="Tipo de trabajo" formControlName="isOwner" id="isOwner" [showClear]="true"
                  class="w-full">
                  <ng-template let-option pTemplate="item">
                    {{ option.label }}
                  </ng-template>
                </p-dropdown>
              </div>
            </div>

            <div *ngIf="form.get('isOwner')?.value === 'empleado'" class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="job_seniority" formControlName="job_seniority" placeholder=" Antigüedad" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
                  <input pInputText id="job" formControlName="job" placeholder=" Puesto" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
                  <input pInputText id="immediate_supervisor_name" formControlName="immediate_supervisor_name"
                    placeholder=" Jefe" />
                </p-inputGroup>
              </div>
            </div>

            <div *ngIf="form.get('isOwner')?.value === 'empleado'" class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="company_phone_number" formControlName="company_phone_number"
                    placeholder=" Teléfono del Jefe" />
                </p-inputGroup>
              </div>
            </div>

            <div *ngIf="form.get('isOwner')?.value === 'independiente'" class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="monthly_income" formControlName="monthly_income" placeholder=" Ingreso" />
                </p-inputGroup>
              </div>

              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="another_incomes" formControlName="another_incomes"
                    placeholder=" Otros Ingresos" />
                </p-inputGroup>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="last_job" formControlName="last_job" placeholder=" Trabajo Anterior" />
                </p-inputGroup>
              </div>

              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="job_seniority" formControlName="job_seniority" placeholder=" Antigüedad" />
                </p-inputGroup>
              </div>

              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="last_phone_number" formControlName="last_phone_number"
                    placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
            </div>
          </div>
        </form>
      </p-tabPanel>

      <!-- Tab 2: Avales -->
      <p-tabPanel header="Información Aval">
        <form [formGroup]="formStep2">
          <div class="p-fluid grid">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
              <div>
                <h5>Información básica</h5>
              </div>
              <p-button class="p-button-rounded p-button-icon-only" (onClick)="onSearchGuaranties()">
                <i class="pi pi-search"></i>
              </p-button>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="name" formControlName="name" placeholder=" Nombre" />
                </p-inputGroup>
              </div>

              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-envelope"></i></p-inputGroupAddon>
                  <input pInputText id="correoGuarantor" formControlName="correoGuarantor" placeholder=" Correo" />
                </p-inputGroup>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="edad" formControlName="edad" placeholder=" Edad" />
                </p-inputGroup>
              </div>
              <div class="w-1/2">
                <p-dropdown [options]="estadosCivilesAval" optionLabel="label" optionValue="value"
                  placeholder="Seleccione estado civil" formControlName="estadoCivilAval" id="estadoCivilAval"
                  [showClear]="true" class="w-full">
                  <ng-template pTemplate="selectedItem" let-selectedOption>
                    <i class="pi pi-user mr-2" *ngIf="selectedOption"></i>
                    <span *ngIf="selectedOption">{{ selectedOption.label }}</span>
                    <span *ngIf="!selectedOption">Seleccione estado civil</span>
                  </ng-template>

                  <ng-template let-option pTemplate="item">
                    <i class="pi pi-user mr-2"></i>
                    {{ option.label }}
                  </ng-template>
                </p-dropdown>

              </div>
            </div>

            <div *ngIf="formStep2.get('estadoCivilAval')?.value === 'casado'"
              class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="nombreEsposo" formControlName="nombreEsposo" placeholder=" Nombre del espos@" />
                </p-inputGroup>
              </div>
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="lugarMatrimonio" formControlName="lugarMatrimonio"
                    placeholder=" Lugar del matrimonio" />
                </p-inputGroup>
              </div>
            </div>

            <div *ngIf="formStep2.get('estadoCivilAval')?.value === 'casado'"
              class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="regimen" formControlName="regimen" placeholder=" Regimen del matrimonio" />
                </p-inputGroup>
              </div>
            </div>

            <div
              style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; margin-top: 1rem;">
              <div>
                <h5>Domicilio actual</h5>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                <input pInputText id="directionGuarantor" formControlName="directionGuarantor"
                  placeholder=" Direccion" />
              </p-inputGroup>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="ciudad" formControlName="ciudad" placeholder=" Ciudad" />
                </p-inputGroup>
              </div>

              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="estado" formControlName="estado" placeholder=" Estado" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="cp" formControlName="cp" placeholder=" Código Postal" />
                </p-inputGroup>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="telefonoGuarantor" formControlName="telefonoGuarantor"
                    placeholder=" Teléfono" />
                </p-inputGroup>
              </div>

              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-mobile"></i></p-inputGroupAddon>
                  <input pInputText id="celularGuarantor" formControlName="celularGuarantor" placeholder=" Celular" />
                </p-inputGroup>
              </div>
            </div>

            <div
              style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; margin-top: 1rem;">
              <div>
                <h5>Datos tipo de propiedad del aval</h5>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText disabled id="propia_pagada" placeholder=" Propia Pagada" />
                  <p-inputGroupAddon>
                    <p-checkbox formControlName="propia_pagada" name="propia_pagada" value="propia_pagada"
                      [binary]="true" />
                  </p-inputGroupAddon>

                </p-inputGroup>
              </div>
              <div *ngIf="formStep2.get('propia_pagada')?.value" class="w-3/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="domicilio_pagada" formControlName="domicilio_pagada" placeholder=" Domicilio" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText disabled id="propia_pagando" placeholder=" Propia Pagandola" />
                  <p-inputGroupAddon>
                    <p-checkbox formControlName="propia_pagando" name="propia_pagando" value="propia_pagando"
                      [binary]="true" />
                  </p-inputGroupAddon>

                </p-inputGroup>
              </div>
              <div *ngIf="formStep2.get('propia_pagando')?.value" class="w-3/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                  <input pInputText id="domicilio_pagando" formControlName="domicilio_pagando"
                    placeholder=" Domicilio" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-calendar"></i></p-inputGroupAddon>
                  <p-datepicker id="fecha_hipoteca" formControlName="fecha_hipoteca" placeholder=" Fecha Hipoteca" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                <input pInputText id="comentarios" formControlName="comentarios"
                  placeholder=" Comentarios adicionales" />
              </p-inputGroup>
            </div>

            <div
              style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem; margin-top: 1rem;">
              <div>
                <h5>Datos laborales del aval</h5>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="empresa" formControlName="empresa" placeholder=" Empresa" />
                </p-inputGroup>
              </div>

              <div class="w-1/3">
                <p-dropdown [options]="tiposTrabajo" optionLabel="label" optionValue="value"
                  placeholder="Tipo de trabajo" formControlName="tipoDeTrabajoAval" id="tipoDeTrabajoAval"
                  [showClear]="true" class="w-full">
                  <ng-template let-option pTemplate="item">
                    {{ option.label }}
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">

              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-map-marker"></i></p-inputGroupAddon>
                <input pInputText id="domicilio_empresa" formControlName="domicilio_empresa" placeholder=" Domicilio" />
              </p-inputGroup>
            </div>

            <div *ngIf="formStep2.get('tipoDeTrabajoAval')?.value === 'empleado'"
              class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="puesto" formControlName="puesto" placeholder=" Puesto" />
                </p-inputGroup>
              </div>
              <div class="w-2/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="jefe" formControlName="jefe" placeholder=" Jefe inmediato" />
                </p-inputGroup>
              </div>
            </div>

            <div *ngIf="formStep2.get('tipoDeTrabajoAval')?.value === 'independiente'"
              class="field col-12 md:col-6 mb-3 flex gap-4">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-info-circle"></i></p-inputGroupAddon>
                <input pInputText id="giro" formControlName="giro" placeholder=" Giro" />
              </p-inputGroup>
            </div>
            <div *ngIf="formStep2.get('tipoDeTrabajoAval')?.value === 'independiente'"
              class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-dollar"></i></p-inputGroupAddon>
                  <input pInputText id="ingreso" formControlName="ingreso" placeholder=" Ingreso" />
                </p-inputGroup>
              </div>

              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-dollar"></i></p-inputGroupAddon>
                  <input pInputText id="otrosIngresos" formControlName="otrosIngresos" placeholder=" Otros Ingresos" />
                </p-inputGroup>
              </div>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-4">

              <div class="w-1/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="antiguedad" formControlName="antiguedad" placeholder=" Antigüedad" />
                </p-inputGroup>
              </div>

              <div class="w-1/4">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="telefono_empresa" formControlName="telefono_empresa" placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
            </div>
          </div>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Referencias">
        <form [formGroup]="formReferencias">
          <div class="p-fluid grid">
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
              <div>
                <h5>Referencias comerciales</h5>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="commercial_name" formControlName="commercial_name" placeholder=" Nombre" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="commercial_phone_number" formControlName="commercial_phone_number" placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="second_commercial_name" formControlName="second_commercial_name" placeholder=" Nombre" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="second_commercial_phone_number" formControlName="second_commercial_phone_number" placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
            </div>
            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
              <div>
                <h5>Referencias personales</h5>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="personal_name" formControlName="personal_name" placeholder=" Nombre" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="personal_phone_number" formControlName="personal_phone_number" placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-mobile"></i></p-inputGroupAddon>
                  <input pInputText id="personal_cellphone_number" formControlName="personal_cellphone_number" placeholder=" celular" />
                </p-inputGroup>
              </div>
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-calendar"></i></p-inputGroupAddon>
                  <input pInputText id="personal_years_known" formControlName="personal_years_known" placeholder=" Años de conocerlo" />
                </p-inputGroup>
              </div>
            </div>

             <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="second_personal_name" formControlName="second_personal_name" placeholder=" Nombre" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="second_personal_phone_number" formControlName="second_personal_phone_number" placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-mobile"></i></p-inputGroupAddon>
                  <input pInputText id="second_personal_cellphone_number" formControlName="second_personal_cellphone_number" placeholder=" celular" />
                </p-inputGroup>
              </div>
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-calendar"></i></p-inputGroupAddon>
                  <input pInputText id="second_personal_years_known" formControlName="second_personal_years_known" placeholder=" Años de conocerlo" />
                </p-inputGroup>
              </div>
            </div>

            <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
              <div>
                <h5>Referencias familiares</h5>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="family_name" formControlName="family_name" placeholder=" Nombre" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="family_phone_number" formControlName="family_phone_number" placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-mobile"></i></p-inputGroupAddon>
                  <input pInputText id="family_cellphone_number" formControlName="family_cellphone_number" placeholder=" celular" />
                </p-inputGroup>
              </div>
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="family_relationship" formControlName="family_relationship" placeholder=" Parentesco" />
                </p-inputGroup>
              </div>
            </div>

             <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-2/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="second_family_name" formControlName="second_family_name" placeholder=" Nombre" />
                </p-inputGroup>
              </div>
              <div class="w-1/3">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-phone"></i></p-inputGroupAddon>
                  <input pInputText id="second_family_phone_number" formControlName="second_family_phone_number" placeholder=" Teléfono" />
                </p-inputGroup>
              </div>
            </div>
            <div class="field col-12 md:col-6 mb-3 flex gap-4">
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-mobile"></i></p-inputGroupAddon>
                  <input pInputText id="second_family_cellphone_number" formControlName="second_family_cellphone_number" placeholder=" celular" />
                </p-inputGroup>
              </div>
              <div class="w-1/2">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                  <input pInputText id="second_family_relationship" formControlName="second_family_relationship" placeholder=" Parentesco" />
                </p-inputGroup>
              </div>
            </div>
          </div>
        </form>
      </p-tabPanel>
      <!-- Tab 3: Datos de vehiculo -->
      <p-tabPanel header="Datos del Vehículo">
        <form [formGroup]="formMarca">
          <div class="p-fluid grid">
            <div style="display: flex; justify-content: flex-end;">
              <p-button class="p-button-rounded p-button-icon-only" (onClick)="onSearchvehicules()">
                <i class="pi pi-search"></i>
              </p-button>
            </div>
            <div class="flex justify-center mb-4">
              <img *ngIf="vehiculoSeleccionado?.fotos_vehiculos?.length" [src]="getImageUrl(vehiculoSeleccionado)"
                alt="Vehículo seleccionado" class="rounded shadow"
                style="width: 50rem; height: 30rem; object-fit: cover;">
            </div>
            <div class="field col-12 md:col-6 mb-3 mt-3">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                <input pInputText id="marca" formControlName="marca" placeholder=" Marca" />
              </p-inputGroup>
            </div>
            <div class="field col-12 md:col-6 mb-3">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                <input pInputText id="modelo" formControlName="modelo" placeholder=" Modelo" />
              </p-inputGroup>
            </div>
            <div class="field col-12 md:col-6 mb-3">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                <input pInputText id="anio" formControlName="anio" placeholder=" Año" />
              </p-inputGroup>
            </div>
            <div class="field col-12 md:col-6 mb-3">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-user"></i></p-inputGroupAddon>
                <input pInputText id="monto" formControlName="monto" placeholder=" Monto" />
              </p-inputGroup>
            </div>
          </div>
        </form>
      </p-tabPanel>

      <!-- Tab 4: Datos Financieros -->
      <p-tabPanel header="Datos Financieros">
        <form [formGroup]="formStep3">
          <div class="p-fluid grid">
            <div style="display: flex; justify-content: flex-end;">

              @if(data.etapa === 'cotizacion'){
              <p-button class="p-button-rounded" label="Aprobacion" (onClick)="onAcceptCredit()"></p-button>
              <p-button *ngIf="authService.hasPermission('manage creditos')" class="p-button-rounded" label="Cancelar"
                (onClick)="onCancelCredit()"></p-button>
              } @else if(data.etapa === 'aprobacion'){
              <p-button *ngIf="authService.hasPermission('manage creditos')" class="p-button-rounded " label="Aprobar"
                (onClick)="onApproveCredit(true)"></p-button>
              <p-button *ngIf="authService.hasPermission('manage creditos')" class="p-button-rounded" label="Degradar"
                (onClick)="onApproveCredit(false)"></p-button>
              } @else if(data.etapa === 'aprobado'){
              <p-button *ngIf="authService.hasPermission('manage creditos')" class="p-button-rounded" label="Cancelar"
                (onClick)="onCancelCredit()"></p-button>
              }

            </div>
            <div class="field col-12 md:col-6 mb-3">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-dollar"></i></p-inputGroupAddon>
                <input pInputText id="interes" formControlName="interes" placeholder=" % Interes" />
              </p-inputGroup>
            </div>

            <div class="field col-12 md:col-6 mb-3">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-calendar"></i></p-inputGroupAddon>
                <input pInputText id="plazo" formControlName="plazo" placeholder=" Plazo" />
              </p-inputGroup>
            </div>

            <div class="field col-12 md:col-6 mb-3">
              <p-inputgroup>
                <p-checkbox formControlName="iva" inputId="iva" binary="true" />
                <label for="tasa" class="ml-2">IVA</label>
              </p-inputgroup>
            </div>

            <!--<div class="field col-12 md:col-6 mb-3">
              <p-inputgroup>
                <p-datepicker formControlName="fecha1erPago" [showIcon]="true" [iconDisplay]="'input'"
                  [inputStyleClass]="'p-inputtext w-full'" dateFormat inputId="fecha1erPago"
                  placeholder="Fecha de 1er pago" />

              </p-inputgroup>
            </div>

            <div class="field col-12 md:col-6 mb-3">
              <p-inputgroup>
                <input pInputText formControlName="FMD" placeholder="FMD" />
                <p-inputgroup-addon><i>%</i></p-inputgroup-addon>
              </p-inputgroup>
            </div>-->

            <div class="field col-12 md:col-6 mb-3">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-dollar"></i></p-inputGroupAddon>
                <input pInputText id="enganche" formControlName="enganche" placeholder=" Enganche" />
              </p-inputGroup>
            </div>

            <div class="field col-12 md:col-6 mb-3">
              <p-inputGroup>
                <p-inputGroupAddon><i class="pi pi-dollar"></i></p-inputGroupAddon>
                <input pInputText id="tasa_fmd" formControlName="tasa_fmd" placeholder=" FMD" />
              </p-inputGroup>
            </div>

            <div class="field col-12 md:col-6 mb-3 flex gap-2">
              <div class="flex-1">
                <p-inputGroup>
                  <p-inputGroupAddon><i class="pi pi-calendar"></i></p-inputGroupAddon>
                  <p-datepicker id="fecha_inicial" formControlName="fecha_inicial" placeholder=" Fecha Inicial" />
                </p-inputGroup>
              </div>

              <!-- Aprovacion stage only selectors -->
              @if(data.etapa === 'aprobacion'){
              <div class="flex-1">
                <div class="w-72">
                  <p-dropdown [options]="sucursales" optionLabel="nombre" placeholder="Selecciona una sucursal"
                    formControlName="sucursalSeleccionada" optionValue="id" [showClear]="true"
                    (onChange)="onSucursalChange($event)">
                  </p-dropdown>
                </div>
              </div>
              <div class="flex-1">
                <div class="w-72">
                  <p-dropdown [options]="inversionistas" optionLabel="name" placeholder="Selecciona un inversionista"
                    formControlName="inversionistaSeleccionado" optionValue="id" [showClear]="true"
                    optionDisabled="nada" (onChange)="onInversionistaChange($event)">
                  </p-dropdown>
                </div>
              </div>
              }
            </div>
          </div>
        </form>
      </p-tabPanel>
    </p-tabView>

    <div class="flex justify-content-end mt-5">
      <button pButton label="Guardar" icon="pi pi-save" (click)="submitForm()" class="p-button-success"></button>
    </div>

    <!-- Dialogs -->
    <p-dialog header="Buscar cliente" [(visible)]="clienteDialog" [modal]="true" [style]="{width: '60vw'}">
      <div class="p-inputgroup mb-3">
        <input type="text" pInputText [(ngModel)]="searchCliente" placeholder="Buscar cliente por nombre" />
      </div>
      <p-table [value]="clientes" [paginator]="true" [rows]="5" [globalFilterFields]="['name']"
        [filters]="{ 'name': { value: searchCliente, matchMode: 'contains' } }">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Acción</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cliente>
          <tr>
            <td>{{ cliente.name }}</td>
            <td>{{ cliente.cellphone_number }}</td>
            <td>
              <button pButton type="button" label="Seleccionar" (click)="seleccionarCliente(cliente)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-dialog>

    <p-dialog header="Selecciona uno o más avales" [(visible)]="showGuarantorDialog" [modal]="true"
      [style]="{width: '40vw'}">
      <p-table [value]="avales" selectionMode="multiple" [(selection)]="data.avales">
        <ng-template pTemplate="header">
          <tr>
            <th>Nombre</th>
            <th>Teléfono</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-aval>
          <tr [pSelectableRow]="aval">
            <td>{{ aval.name }}</td>
            <td>{{ aval.cellphone_number }}</td>
          </tr>
        </ng-template>
      </p-table>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-between w-full button-modal-container">
          <button pButton type="button" label="Añadir nuevo aval" icon="pi pi-plus" class="p-button-secondary"
            (click)="onAddNewGuarantor()"></button>
          <button pButton type="button" label="Aceptar" icon="pi pi-check"
            (click)="onConfirmGuarantors(data.avales)"></button>
        </div>
      </ng-template>
    </p-dialog>

    <p-dialog header="Buscar vehiculos" [(visible)]="vehiculoDialog" [modal]="true" [style]="{width: '60vw'}">
      <div class="p-inputgroup mb-3">
        <input type="text" pInputText [(ngModel)]="searchVehiculo" placeholder="Buscar vehiculo por nombre" />
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
        <div *ngFor="let vehiculo of vehiculosFiltrados">

          <p-card styleClass="mb-3 shadow-md p-2">
            <img *ngIf="vehiculo.fotos_vehiculos?.length" [src]="getImageUrl(vehiculo)"
              class="w-6rem h-6rem object-cover mb-2" style="aspect-ratio: 1 / 1;">
            <div class="text-sm mb-2">
              <strong>Marca:</strong> {{ vehiculo.brand }}<br>
              <strong>Modelo:</strong> {{ vehiculo.model }}<br>
              <strong>Año:</strong> {{ vehiculo.year }}
            </div>

            <button pButton type="button" label="Seleccionar" (click)="seleccionarVehiculo(vehiculo)"></button>
          </p-card>

        </div>
      </div>
    </p-dialog>
  </p-card>
</div>