<div class="card flex flex-col gap-14">
    <p-toolbar class="gap-10">
        <ng-template #start>
            <h1 class="font-semibold text-xl">{{titulo}}</h1>
        </ng-template>
        <ng-template #end>
            <button pButton variant="text" severity="secondary" label="Limpiar filtros" icon="pi pi-filter-slash"
                class="p-button-sm p-button-rounded mr-2" (click)="clearFilters()"></button>
            <input
                pInputText
                class="custom-input mr-2"
                type="text"
                name="buscador"
                placeholder="Buscar"
                [(ngModel)]="globalFilter"
                [ngModelOptions]="{standalone: true}"
                (input)="onFilterGlobal($event)"
            />


        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="data" [paginator]="true" [rows]="10"
        [globalFilterFields]="['nombre', 'apellido', 'email', 'celular']" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}" [rowsPerPageOptions]="[5,10,20]">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="inversionista">Inversionista <p-sortIcon field="inversionista"></p-sortIcon></th>
                <th pSortableColumn="creditos">Total de créditos <p-sortIcon field="creditos"></p-sortIcon>
                    <!-- <input pInputText type="text" (input)="onFilterColumn($event, 'nombre')" class="w-full" /> -->
                </th>
                <th>Opciones</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{ data.name }}</td>
                <td>{{  creditosTotal}}</td>
                <td>
                    <button pButton icon="pi pi-bars" class="p-button-sm p-button-rounded mr-2"
                        (click)="link(data.id, 1)"></button>

                    <button pButton icon="pi pi-chart-line" class="p-button-sm p-button-rounded"
                        (click)="link(data.id, 2)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>