<div class="card flex flex-col gap-14">
    <p-toolbar class="gap-10">
        <ng-template #start>
            <h1 class="font-semibold text-xl">{{titulo}}</h1>
        </ng-template>
        <ng-template #end>
            <button pButton variant="text" severity="secondary" label="Limpiar filtros" icon="pi pi-filter-slash"
                class="p-button-sm p-button-rounded mr-2" (click)="clearFilters()"></button>
            <input
                pInputText
                class="custom-input mr-2"
                type="text"
                name="buscador"
                placeholder="Buscar"
                [(ngModel)]="globalFilter"
                [ngModelOptions]="{standalone: true}"
                (input)="onFilterGlobal($event)"
            />


        </ng-template>
    </p-toolbar>
    <p-table #dt [value]="data" [paginator]="true" [rows]="10"
        [globalFilterFields]="['nombre', 'apellido', 'email', 'celular']" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}" [rowsPerPageOptions]="[5,10,20]">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="date">Fecha <p-sortIcon field="date"></p-sortIcon></th>
                <th pSortableColumn="description">Concepto <p-sortIcon field="description"></p-sortIcon>
                    <!-- <input pInputText type="text" (input)="onFilterColumn($event, 'nombre')" class="w-full" /> -->
                </th>
                <th pSortableColumn="importe">Importe <p-sortIcon field="importe"></p-sortIcon>
                    <!-- <input pInputText type="text" (input)="onFilterColumn($event, 'apellido')" class="w-full" /> -->
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{ data.created_at | date:'dd/MM/yyyy' }}</td>
                <td>{{ data.descripcion }}</td>
                <td>{{data.monto}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>